@{
    ViewBag.Title = "DisplayOrSaveRefreshingLocation";
}

<img id="airplane" src="~/Image/airplane.png" alt="airplane" style="position:absolute; height:25px; width:25px" ; />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<canvas id="myCanvas"></canvas>

<body>
    <script>
        // get Elements
        var airplane = document.getElementById("airplane");
        var canvas = document.getElementById("myCanvas");

        // Init canvas
        canvas.style.width = window.innerWidth;
        canvas.style.height = window.innerHeight;
        var ctx = canvas.getContext("2d");

        // get Lon and Lat
        var Lon = @Session["Lon"];
        var Lat = @Session["Lat"];
        var x = (parseFloat(Lon) + 180) * (window.innerWidth / 360);
        var y = (parseFloat(Lat) + 90) * (window.innerHeight / 180);

        airplane.style.top = y + "px";
        airplane.style.left = x + "px";

        ctx.moveTo(0, 0);
        ctx.lineTo(x, y-10);
        ctx.stroke();

        Timer = (function () {
            $.post("@Url.Action("GetFlightData")").done(function (xml) {
                    var xmlDoc = $.parseXML(xml),
                        $xml = $(xmlDoc),
                        Lat = $xml.find("Lat").text();
                    Lon = $xml.find("Lon").text();

                    $("#prodLon").text(Lon);
                    $("#prodLat").text(Lat);

                    x = (parseFloat(Lon) + 180) * (window.innerWidth / 360);
                    y = (parseFloat(Lat) + 90) * (window.innerHeight / 180);

                    airplane.style.top = y + "px";
                    airplane.style.left = x + "px";
            });
        });
        var setIntervalRetVal=setInterval(Timer, @Session["Time"] * 1000);
        if (@Session["Duration"]!= -1) {  //todo: duration won't be null due to "session"
            setTimeout(stopTimer,@Session["Duration"] * 1000);
        }
        function stopTimer() {
            clearInterval(setIntervalRetVal);
        }
        Timer();
    </script>
</body>